.stockData {

    &__tr {
        display: flex;
    }

    &__td {
        width: 100px;

    &__container {
        display: flex;
    }

        &--name{
            font-weight: bold;
            color: rgb(67, 67, 192);
            cursor: pointer;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}